*{
    margin: 0;
    font-family: 'Jost', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: rgb(207, 207, 207);
}

.main{
    display: grid;
    margin-top: 1rem;
    padding: 1rem;
    gap: 0.2rem;
    height: 100%;
    width: 40vw;
    background-color: rgb(238, 234, 234);
    border-radius: 1rem;
}

.postTab{
    background-color:  rgb(238, 234, 234);
    height: 4rem;
}

.post{
    background-color: rgb(255, 255, 255);
    height: blue;
    height: 16rem;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    border-radius: 1rem;
    border: 1px solid black;
}

.postTop{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.postTopLeft{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.postTopUserPhoto{
    height: 2.5rem;
    border-radius: 50%;
    opacity: 75%;
    padding: 5px;
}

.postTopLeftUserPhotoContainener{
    justify-self: center;
    align-self: center;
}

.topTabUserPhoto{
    height: 3rem;
    border-radius: 50%;
    opacity: 75%;
    justify-self: center;
    align-self: center;
}

.topTabUserPhoto{
    opacity: 100%;
    transition: ease 0.2s;
}

.topTab{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
}

.topTabUserPhotoContainer{
    justify-self: center;
    align-self: center;
}

.inputText{
    border-radius: 1rem;
    border-style: none;
    padding-left: 1rem;
    height: 3rem;
    justify-self: center;
    align-self: center;
    width: 20rem;
    background-color: rgb(223, 223, 223);
}

.inputText::placeholder{
    color: rgb(87, 87, 87);
}

.inputText:focus{
    outline: none;
}

.inputText:hover{
    background-color: rgb(199, 199, 199);
    transition: ease 0.2s;
}

#POSTBTN{
    background-color: rgba(54, 165, 234, 0.725);
    border-style: none;
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 1rem;
}

#POSTBTN:hover{
    background-color: rgb(0, 127, 206);
    transition: ease 0.2s;
}

hr.mainLine{
    border-top: 3px solid rgba(188, 188, 188, 0.577);
    border-left: none ;
    border-right: none ;
    border-bottom: none ;
    
  }

 .nameAndDisc{
    padding: 5px;
 } 

 .name{
    font-weight: bold;
 }

 .time{
    color: rgb(109, 109, 109);
    font-size: 11.5px;
 }

 .mid{
    padding-left: 1.2rem;
    font-size: 2rem;
    border-top: 1px black solid;
 }

 .mid p{
    padding-top: 1rem;
 }

 .bottom{
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 1fr;
    padding: 1rem;
    border-top: 1px black solid;
 }

 .bottom img{
    height: 1.5rem;
    margin-right: 1rem;
 }

 .topRight{
    justify-self: center;
    align-self: center;
 }

.topRight img{
    height: 1.5rem;
}